// 色彩，请参考：https://ant.design/docs/spec/colors-cn

$red-6: #f04134;
$red-7: #d73435;
$red-8: #bd2636;
$red-9: #a31837;
$red-10: #880a38;
// 主色调
$red: $red-6;



$blue-6: #108ee9;
$blue-7: #0e77ca;
$blue-8: #0c60aa;
$blue-9: #09488a;
$blue-10: #073069;
$blue: $blue-6;
